body {
    background-color: #111111;
    font-family: consolas;
    overflow: hidden;
}

.item {
    width: 2%;
}

.space {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#content {
    margin: 0 auto;
    width: 840px;
    background-color: rgba(0,0,0,0.1);
}

#page {
    width: 100%
}

h3, h4 {
    color: white;
    text-align: center;
    margin: 10px
}

button {
    margin: 10px
}

#page {
    text-align: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.ship {
    width: 35px;
    height: 35px
}

#control_panel {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 20px;
    margin: 25px;
    color: white; 
    text-align: left;
    background-color: rgba(94, 0, 134, 0.5);
    width: 175px
}

p {
    margin: 0
}

#startbutton {
    background-color: rgba(94, 0, 134, 0.5);
    border: 0;
    color: white;
    font-size: 20pt;
    padding: 10px;
    margin: 0px
}

#startbutton:hover {
    cursor: pointer;
}

#vers {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
    color: white
}

a {
    color: rgba(94, 0, 134, 1);
}

p, b{
    color: white;
}